.containers_back {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/backs.jpg');
    /* Add transparent */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.containers_home {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}


.containers_info_job {
    color: var(--whitecolors);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    width: 100%;
    margin-top: 100px;
}

.title .title_header {
    margin-bottom: 20px;
    width: 100%;
}

.title .title_header h2 {
    font-size: 2.5rem;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    width: 100%;

}

/* .search-bar input {
    width: 35%;
} */

.auto {
    width: 35%;
    height: 60px;
}

.search-bar::placeholder {
    font-size: 15px;
}

.search-bar button {
    width: 22%;
    height: 60px;
}

.containers_job_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers_job_list button {
    width: 100%;

    font-weight: 300;
    font-size: 20px;
    border-radius: var(--grey);
}