nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 45px 120px;
    background-color: var(--whitecolors);

    transition: padding 0.3s ease;
}

nav.scrolled {
    padding: 20px 120px;
}

.nav-title h1 {
    font-weight: 300;
}

.nav-title {
    display: flex;
    flex-wrap: wrap;
}

.nav_list {
    display: flex;
    gap: 40px;
}

.nav_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    cursor: pointer;
}

.containers_butt {
    display: flex;
    gap: 20px;
}

/* .containers_butt button {
    background-color: var(--buttoncolors);
} */